#DB
PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

#JWT
JWT_SECRET=
JWT_EXPIRES_IN=

#Cloudinary
CLOUDINARY_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

#google mailer 
EMAIL_PASS=
EMAIL_USER=

