# Dependencies
node_modules/

# Environment variables
.env

# Upload files
uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db


#log files
logs/
*.log

# env files (can opt-in for committing if needed)
.env*.local

.env
.env.*
#ignore all env files in the project except .env.example
!*.env.example
